* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================== Background ==================== */
.main {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(img/hourglasses-closeup-photography-glass-wallpaper-preview.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;    
}


/* ================================== First Page ================================ */

.mainHome {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(img/hourglasses-closeup-photography-glass-wallpaper-preview.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.welcome {
    font-size: 90px;
    color: rgba(240, 235, 237, 1);
    display: relative;
    text-align: center;
    padding: 50px 0 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    padding-top: 100px;
}

.note {
    font-size: 25px;
    padding-left: 40px;
    color: rgb(240, 235, 237, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    padding-top: 20px;
    cursor: pointer;
    text-align: center;
}


.mainHome .input input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin: auto;
    background: rgb(240, 235, 237, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


.mainHome .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.mainHome .button button {
    width: 100px;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    background: rgb(240, 235, 237, 0.7);
    border: 1px solid black;
}

.mainHome .button button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mainHome .button button:hover {
    background: transparent;
    transition: 0.5s;
    color: rgb(240, 235, 237, 1);
}

/* ========================= Second Page ======================== */

/* Welcome Olaoluwa */
.main .greeting h2 {
    font-size: 90px;
    color: rgba(240, 235, 237, 1);
    display: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    
    
}


.main .greeting .backButton ion-icon {
    font-size: 40px;
    padding-left: 40px;
    padding-top: 10px;
    color: rgba(240, 235, 237, 0.2);
}

/* The Time is & Today's Date is*/
.main h4 {
    font-size: 50px;
    font-weight: 100;
    padding-left: 30px;
    color: rgb(240, 235, 237, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 40px;
    cursor: pointer;
    
    }


/* Date Numbers */

.main h4 span.numbers {
    font-size: 55px;
    font-weight: 500;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(11, 10, 20, 0.4);
    box-shadow: 5px 5px 10px 2px rgba(240, 235, 237, 0.4);
}

.main h4 span.numbersalign {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(11, 10, 20, 0.4);
    box-shadow: 5px 5px 10px 2px rgba(240, 235, 237, 0.4);
    margin-left: 700px;
}

/* / & am  */

.main h4 span {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}



/* ======================== First Page Responsiveness ============================= */

@media (max-width: 576px){
.mainHome {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 70px;
}

.note {
    font-size: 15px;
    margin-top: 15px;
    /* margin-left: 60px; */
    /* width: 60%; */
    text-align: center;
}

.mainHome .input input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
}


/* ===================== Second Page Responsiveness ================== */

@media (max-width: 576px) {
.main {
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100%;
}

.main .greeting h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    margin-top: 50px;
}

.main .greeting .backButton ion-icon {
    font-size: 40px;
    padding-top: 0px;
    padding-left: 10px;
    margin-top: 30px;
}

.username {
    font-size: 20px;
}

.main h4 {
    font-size: 25px;
    padding-left: 0px;
}

.main h4 span.numbers {
    font-size: 24px;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(240, 235, 237, 0.15);
}

.main h4 span.numbersalign {
    font-size: 24px;
    margin-left: 5px;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(240, 235, 237, 0.15);
}

.main h4 span {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
}
